@import url(reset.css);
@import url(components/navbar.css);
@import url(components/home.css);
@import url(components/info.css);
@import url(components/services.css);
@import url(components/about-us.css);
@import url(components/join-us.css);
@import url(components/faq.css);
@import url(components/footer.css);

:root{
    --white-font:#D4EBFF;
    --baby-blue:#84A2E2;
    --baby-blue-opacity:#84a2e286;
    --blue:#305BB7;
    --dark-blue:#1A2542;

    --btn-hover:#d4ebff6a;

    --lavender:#793292;

    --circus-baby-color:#c91734;
    --funtime-foxy-color:rgba(164, 40, 121, 100%);
    --ballora-color:#45369D;
    --funtime-freddy-color:rgb(151, 59, 160);
    --bonbon-color: #305CB8;
    --bonnet-color: rgb(237, 55, 113);
    --bidybabs-color: #ce654e;
    --minireenas-color: #b05a38;
    --helpy-color: #A66FD3;
}

html{
    scroll-behavior:smooth;
}

body{
    background-color: var(--dark-blue);
}



::selection{
    background-color: var(--lavender);
    color: var(--white-font);
}

h1,h2,h3{
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
}

h2{
    font-size:30px;
}

h3{
    font-size: 20px;
}

p, a, li, button{
    font-family:'Cute Font', sans-serif;
    font-size: 25px;
    text-decoration: none;
    transition:all .1s;
}

h1,h2,h3,p,a,li, button{
    color:var(--white-font);
    text-shadow: 0px 0px 15px var(--blue);
    -webkit-text-stroke: 1px var(--baby-blue-opacity);
}

.btn-section{
    display:inline-flex;
    gap: 45px;
    flex-flow:row wrap;
}

button{
    height: 50px;
    border: 1px solid var(--white-font);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.25);
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.00);
}

.action-btn{
    background: linear-gradient(180deg, #84A2E2 0%, rgba(255, 255, 255, 0.00) 100%);
    width: 175px;
}

.info-btn {
    display: flex;
    align-items: center;
    padding-inline:  0;
    padding-block: 0;
    background-color: rgba(255, 255, 255, 0.00);
}

.info-btn:hover,
.arrow-btn:hover,
.action-btn:hover{
    background-color: var(--btn-hover);
}

.btn-text {
    padding: 0 17px;
}

.info-btn>.material-symbols-outlined{
    background: linear-gradient(180deg, #84A2E2 0%, rgba(255, 255, 255, 0.00) 100%);
display:flex;
justify-content: center;
align-items: center;
width: 50px;
height: 100%;
}


.content-section{
    display:flex;
    margin: 50px 10%;
    justify-content: center;
    gap: 40px;
    z-index: 1;
}