.home{
    width: 100vw;
    height: 100vh;
    display:flex;
    align-content: center;
}

.afton-robotics-mp4 {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-1;
}

h1{
    font-size: 80px;
}

.content-section{
    margin: 5% 10%;
    display:flex;
    flex-direction: column;
    gap: 40px;
}

.text-group{
    max-width: 75%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


