.info{
    width: 100vw;
    height: 340px;
    background: linear-gradient(90deg, var(--dark-blue) 0%, var(--blue) 25%, var(--blue) 75%, var(--dark-blue) 100%);
    display:flex;
    gap: 40px;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.info>.content-section>img{
    height: 200px;
    width: 200px;
    mix-blend-mode: plus-lighter;
}

.info>.content-section{
    align-items: center;
}


.info>.content-section>article{
    width: 80%;
    display:flex;
    flex-direction: column;
    gap: 30px;
}
