.join-us{
    height:110vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--lavender) 100%), 
    linear-gradient(90deg, var(--dark-blue) 0%, var(--blue) 25.52%, var(--blue) 78.12%, var(--dark-blue) 97.92%);

}

.join-us > .content-section{
    margin: 0 10%;
    height: calc(100% - 110px);
    display: flex;
    align-items: center;
}

.join-us > .content-section > .img-frame{
    width: 30vw;
    margin-left:60%;
}

.join-us > .content-section > .style-frame{
    position: absolute;
    left: 10%;
    width: 42%;
    height: 95vh;
    margin-top: 7%;
    background-color: var(--baby-blue-opacity);
}

.join-us > .content-section > .text-frame{
    position: absolute;
    left: 12%;
    width: 33%;
    padding: 40px;
    height: 50vh;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
