.navbar{
    background: linear-gradient(var(--dark-blue) 0%, rgba(0,0,0,.0) 100%);
    display:flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    top:0;
    left: 0;
    height:135px;
    width: 100vw;
}

.navbar>ul{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:100px;
}

.nav-link>img{
    max-height: 75px;
}
